.api-doc-line {
	height: 3px;
}

/*避免对话框样式被工具生成的全局样式污染*/
.ui-dialog table,
.ui-dialog tr,
.ui-dialog tr td,
.ui-dialog :nth-child(2n) {
	border: 0 none;
	background: transparent;
}
.ui-dialog td.ui-dialog-header {
	border-bottom: 1px solid #E5E5E5;
}